{% extends 'workflow_automation/base.html' %}

{% block content %}
<h2 class="text-center mb-4">Request Workflow Review</h2>
<div class="card p-4 w-75 mx-auto mb-5" style="color:#192d38;">
    <form method="post">
        {% csrf_token %}
        <div class="alert alert-info mb-4">
            <strong>{{ workflow.name }}</strong><br>
            {{ workflow.description }}
        </div>
        <div class="form-group row mb-3 justify-content-center">
            <label class="col-2 text-right">Subject:</label>
            <div class="col-8">{{ form.subject }}</div>
        </div>
        <div class="form-group row mb-3 justify-content-center">
            <label class="col-2 text-right">Message:</label>
            <div class="col-8">{{ form.content }}</div>
        </div>
        {{ form.workflow }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-primary mt-4">Send Request</button>
        </div>
    </form>
</div>
{% endblock %}
