{% extends 'workflow_automation/base.html' %}

{% block content %}
<h2 class="text-center mb-4">Run Convert Tool</h2>
<div class="card p-4 content-box mb-4">
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.input_path.label_tag }}
            {{ form.input_path }}
            <button type="button" class="btn btn-secondary mt-2" data-fs-browser data-fs-target="id_input_path">Browse…</button>
        </div>
        <div class="form-group">
            {{ form.format.label_tag }}
            {{ form.format }}
        </div>
        <button type="submit" class="btn btn-primary">Run Convert</button>
    </form>
    {% if files %}
    <h4 class="mt-4">Converted Files</h4>
    <ul>
        {% for f in files %}
        <li>{{ f }}</li>
        {% endfor %}
    </ul>
    {% endif %}
</div>
{% include 'workflow_automation/folder_browser_modal.html' %}
{% endblock %}
