{% extends 'workflow_automation/base.html' %}

{% block content %}
<div class="container">
    <h2 class="text-center mb-4">Previous Messages</h2>
    {% if user_messages %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover w-100" style="background-color: #ffffff; width:100%;">
            <thead style="background-image: linear-gradient(to right, #05E560, #B9FF00); font-size:1.25rem; text-align:center;">
                <tr class="text-center">
                    <th>Subject</th>
                    <th>Date Sent</th>
                    <th>Message</th>
                </tr>
            </thead>
            <tbody>
                {% for msg in user_messages %}
                <tr class="text-center">
                    <td>{{ msg.subject }}</td>
                    <td>{{ msg.created_at }}</td>
                    <td>{{ msg.content|linebreaks }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        <p>You have not sent any messages.</p>
    {% endif %}
</div>
{% endblock %}
