{% extends 'workflow_automation/base.html' %}

{% block content %}
<h2 class="text-center mb-4">Automation Workflows</h2>
<a href="{% url 'create_workflow' %}" class="btn btn-primary mb-3">Create New Workflow</a>
<a href="{% url 'run_workflow' %}" class="btn btn-secondary mb-3">Run Workflow</a>
<a href="{% url 'run_rename' %}" class="btn btn-secondary mb-3">Run Rename Tool</a>
<a href="{% url 'run_convert' %}" class="btn btn-secondary mb-3">Run Convert Tool</a>
<a href="{% url 'run_zip' %}" class="btn btn-secondary mb-3">Run Zip Tool</a>

{% if workflows %}
    <ul class="list-group">
    {% for workflow in workflows %}
        <li class="list-group-item" style="color:#192d38;">
            <strong>{{ workflow.name }}</strong> - {{ workflow.description }}
            <ul class="mb-2">
                {% for step in workflow.steps.all %}
                <li>{{ step.order }}. {{ step.get_step_type_display }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>No workflows defined.</p>
{% endif %}
{% endblock %}
